
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>YouNotify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/stylechannel.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="logo span4">
                        <h1><a href="index.html"><img src="assets/img/YouNotify.PNG" alt="YouNotify"/> <span class="red"></span></a></h1>
                    </div>
                    <div class="links span8">
			            <a class="home" href="index.html" rel="tooltip" data-placement="bottom" data-original-title="Home"></a>
                        <a class="what" href="whatis.html" rel="tooltip" data-placement="bottom" data-original-title="What is YouNotify?"></a>
                        <a class="contact" href="mailto:thushcapone@gmail.com" rel="tooltip" data-placement="bottom" data-original-title="Contact Us"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="register-container container">
            <div class="row">
                <div class="iphone span5">
                    <img src="assets/img/iphone2.png" alt="">
                </div>
                <div class="register span6">
                    <h1>{{cred}}</h1>
                    {% if subscriptions %}
                    <form action="/thanks" method="post">
                         <h2>Choose Channels that you want to<span class="red"><strong><img src="assets/img/YouNotify.PNG" alt="YouNotify"/></strong></span> (limited to 5 please)</h2>
                         {% for subscription in subscriptions %}
                			 <label class="checkbox">
                                <img src="{{ subscription.snippet.thumbnails.default.url }}" name="image[]" width="88px" height:"88px" style="padding-right: 15px">
                  				{% if subscription.deja_abonne %}
                      				<input type="checkbox" name="chaines" value="{{ subscription.snippet.resourceId.channelId }}" checked>{{ subscription.snippet.title }}
                                {% else %}
                                    <input type="checkbox" name="chaines" value="{{ subscription.snippet.resourceId.channelId }}">{{ subscription.snippet.title }}
                  				{% endif %}
                			 </label>
                         {% endfor %}
			             <button type="submit">SUBMIT</button>
                    </form>
                    {% endif %}

                    {% if my_channels %}
                    <form action="/save_own_channel" method="post">
                         <h2>Choose your Channels that you want to<span class="red"><strong><img src="assets/img/YouNotify.PNG" alt="YouNotify"/></strong></span> (limited to 5 please)</h2>
                        {% if message != '' %}
                            {% for channel in my_channels %}
                                <label class="checkbox">
                                   <img src="{{ channel.snippet.thumbnails.default.url }}" name="image[]" width="88px" height:"88px" style="padding-right: 15px">
                                    {% if channel.deja_abonne %}
                                        <input type="checkbox" name="chaines" value="{{ channel.id }}" checked>{{ channel.snippet.title }}
                                    {% else %}
                                        <input type="checkbox" name="chaines" value="{{ channel.id }}">{{ channel.snippet.title }}
                                    {% endif %}
                                 </label>
                                <span>Views count: {{ channel.statistics.viewCount}}</span><br/>
                                <input type="hidden" name="viewCount" value="{{ channel.statistics.viewCount}}"/>
                                <span>Likes count: {{ channel.contentDetails.likes }}</span><br/>
                                <input type="hidden" name="likesCount" value="{{ channel.contentDetails.likes }}"/>
                                <span>Favorites count: {{ channel.contentDetails.favorites }}</span><br/>
                                <input type="hidden" name="FavCount" value="{{ channel.contentDetails.favorites }}"/>
                                <span>Subscribers count: {{ channel.statistics.subscriberCount }}</span><br/>
                                <input type="hidden" name="SubsCount" value="{{ channel.statistics.subscriberCount }}"/>
                                <span>Hidden Subscribers count: {{ channel.statistics.hiddenSubscriberCount }}</span><br/>
                                <input type="hidden" name="hiddenSubsCount" value="{{ channel.statistics.hiddenSubscriberCount }}"/>
                            {% endfor %}
                        {% else %}
                            <span>{{message}}</span>
                        {% endif%}
			             <button type="submit">SUBMIT</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script type="text/javascript">
            var bol = $("input[type=checkbox][name=chaines]:checked").length >= 5;
               $("input[type=checkbox][name=chaines]").not(":checked").attr("disabled",bol);

           $("input[type=checkbox][name=chaines]").click(function() {
               var bol = $("input[type=checkbox][name=chaines]:checked").length >= 5;    
               $("input[type=checkbox][name=chaines]").not(":checked").attr("disabled",bol);
           });
       </script>

    </body>

</html>

