
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>YouNotify</title>
	    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="logo span4">
                        <h1><a href="/"><img src="assets/img/YouNotify.PNG" alt="YouNotify"/> <span class="red"></span></a></h1>
                    </div>
                    <div class="links span8">
                        <a class="home" href="/" rel="tooltip" data-placement="bottom" data-original-title="Home"></a>
			            <a class="what" href="/whatis" rel="tooltip" data-placement="bottom" data-original-title="What is YouNotify?"></a>
                        <a class="contact" href="mailto:thiependa.seye@esp.sn" rel="tooltip" data-placement="bottom" data-original-title="Contact Us"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="register-container container">
            <div class="row">
                <div ="span12">                
                <div class="register span8">
                    <form action="/register" method="get">
			<h4>To receive sms notifications, you have to set up sms reminders of your google calendar</h4>
			<br/>
			<br/>
                        <h2>Follow this instructions</h2>
			<ol>
				<li>Type <strong>google.com/calendar</strong> in your browser and go to your calendar settings or just follow <a href="https://www.google.com/calendar/" target="_blank">this</a> link.
                </li>
				<p></p>
				<img src="assets/img/calendar2.png"/>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<li>Click on Mobile Setup in the left menu.</li>
				<p></p>
				<img src="assets/img/calendar5.jpg"/>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<li>Complete the form.</li>
				<p></p>
				<img src="assets/img/calendar4.png"/>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<li>You will receive a verification code by sms. Save before exit.</li>
				
			</ol>
            <button type="submit">Previous Page</button>
                    </form>
                </div>
                <div class="span4">
                    <iframe width="370" height="315" src="//www.youtube.com/embed/VTbx6rgYr_k?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                </div>
            </div>

        </div>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>

